// Body
$body-bg: #F0F0F0;

// Typography
$font-family-primary: 'FucXed', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #82C36B;
$light-green: #90da77;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
$black: black;
$dark-gray: #353333;

// Misc
$border-radius: 0;
