main {
    margin-top: 70px;
}

.custom-thumbnail {
    /* Specify the image in the blade template */
    /* Full height */
    height: 100%;

    min-height: 350px;
    min-width: 350px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
