.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-link {
    color: $white !important;
    font-weight: bold;
    font-family: $font-family-primary;
    font-size: $font-size-base * 1.7;
}

.logo {
    .logo-text {
        color: $white;
    }

    .logo-img {
        height: 65px;
    }
}

.logo:hover {
    text-decoration: none;
}

.dropdown-menu {
    font-family: $font-family-primary;
    background-color: $black;
    padding: 0;
    margin: 0;
    border: none;
    font-size: $font-size-base * 1.2;

    .dropdown-item {
        color: $white;
    }

    .dropdown-item:hover {
        background-color: $white;
        color: $black;
    }
}
