.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-link {
    color: $white !important;
    font-weight: bold;
    font-family: $font-family-primary;
    font-size: $font-size-base * 1.7;
}

.logo {
    .logo-text {
        color: $white;
    }
    .logo-img {
        height: 65px;
    }
}

.logo:hover {
    text-decoration: none;
}